name: Maven Matrix Build

on:
  push:
    branches:
      - master
      - release
    paths-ignore:
      - '*.md'
  # pull_request to run the pipeline on PRs from external, because "push" does not create this pipeline on external PRs
  pull_request:
    paths-ignore:
      - '*.md'
  schedule:
    # * is a special character in YAML, so you have to quote this string
    - cron: '11 16 * * 4'

env:
  MVN_CMD: "./mvnw --settings .cicd.settings.xml -e -B -V"
  GPG_EXECUTABLE: gpg

jobs:
  build-with-jdk:
    strategy:
      matrix:
        java: [ 17, 21, 25 ]
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: ${{ matrix.java }}
      - name: Build and test with Maven
        run: $MVN_CMD install

  build-with-es:
    strategy:
      matrix:
        elasticsearchVersion: [ "9.2.4", "9.1.9", "9.0.8",
                                "8.19.9", "8.18.8", "8.17.10", "8.16.6", "8.15.5", "8.14.3", "8.13.4", "8.12.2", "8.11.4", "8.10.4", "8.9.2", "8.8.2", "8.7.1", "8.6.2", "8.5.3", "8.4.3", "8.3.3", "8.2.3", "8.1.3", "8.0.1",
                                "7.17.28", "7.5.2" ]
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      - name: Build and test with Maven
        run: $MVN_CMD install -DskipTests
      - name: elasticsearch test version ${{ matrix.elasticsearchVersion }}
        run: $MVN_CMD --file ./tests-elasticsearch/pom.xml clean verify -Delasticsearch.version=${{ matrix.elasticsearchVersion }}

  build-with-os-restclient:
    strategy:
      matrix:
        opensearchVersion: [ "3.4.0", "3.3.2", "3.2.0", "3.1.0", "3.0.0",
                             "2.19.4" ]
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 25
      - name: Build and test with Maven
        run: $MVN_CMD install -DskipTests
      - name: opensearch test version ${{ matrix.opensearchVersion }}
        run: $MVN_CMD --file ./tests-opensearch-restclient/pom.xml clean verify -Dopensearch.version=${{ matrix.opensearchVersion }}

  build-with-os-genericclient:
    strategy:
      matrix:
        opensearchVersion: [ "3.4.0", "3.3.2", "3.2.0", "3.1.0", "3.0.0",
                             "2.19.4" ]
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 25
      - name: Build and test with Maven
        run: $MVN_CMD install -DskipTests
      - name: opensearch test version ${{ matrix.opensearchVersion }}
        run: $MVN_CMD --file ./tests-opensearch-genericclient/pom.xml clean verify -Dopensearch.version=${{ matrix.opensearchVersion }}

## on github actions Linux containers (LCOW) are not supported:
## https://stackoverflow.com/questions/66077884/testcontainers-in-windows-environment-on-github-actions-could-not-find-a-valid
## https://github.com/actions/runner-images/issues/252
## https://github.com/actions/runner-images/issues/2216
#  build-with-windows:
#    runs-on: windows-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v6
#      - name: Set up JDK 8
#        uses: actions/setup-java@v5
#        with:
#          distribution: zulu
#          ja#      - name: Set up Docker
#        uses: crazy-max/ghaction-setup-docker@v1
#        with:
#          version: 23.0.1va-version: 8
#      - name: Build and test with Maven
#        run: .\mvnw.cmd --settings .cicd.settings.xml -e -B -V install

# macos builds are very flaky :/
#  build-with-macos:
#    runs-on: macos-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v6
#      - name: Set up JDK 8
#        uses: actions/setup-java@v5
#        with:
#          distribution: zulu
#          java-version: 8
#      - name: Install Docker
#        # docker is not installed by default https://github.com/actions/runner-images/issues/17
#        uses: docker-practice/actions-setup-docker@master
#        timeout-minutes: 12
#      - name: Build and test with Maven
#        run: $MVN_CMD install

  release-dry-run:
    # this will just build like the real release job, but not do a release (dry run)
    if: ${{ github.ref != 'refs/heads/release' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Import GPG key to sign maven build artifacts (this may fail when this job was triggered from an untrusted source because then the required environment variable is not available)
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SECRET_KEYS }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Set up JDK 17
        # with JDK 11 the maven-javadoc-plugin > 3.0.1 fails with "cannot find symbol org.elasticsearch.*"
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      - name: Release to maven central
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: $MVN_CMD deploy -DskipTests=true -Drelease -Dmaven.deploy.skip=true -DskipNexusStagingDeployMojo=true -DskipPublishing=true

      - name: prepare release version
        run: source prepare_release_version.sh

  release:
    # Release to maven central and create Github release
    needs: [ build-with-jdk, build-with-es, build-with-os-restclient, build-with-os-genericclient ]
    if: ${{ github.repository == 'senacor/elasticsearch-evolution' && github.event_name == 'push' && github.ref == 'refs/heads/release' }}
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Import GPG key to sign maven build artifacts
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_SECRET_KEYS }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Set up JDK 17
        # with JDK 11 the maven-javadoc-plugin > 3.0.1 fails with "cannot find symbol org.elasticsearch.*"
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      - name: Release to maven central
        env:
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: $MVN_CMD deploy -DskipTests=true -Drelease

      - name: prepare release version
        run: source prepare_release_version.sh
      - name: Create Github Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.TRAVIS_TAG }}
          # Defaults to repository default branch, so we set the SHA of the current commit
          target_commitish: ${{ github.sha }}
          name: ${{ env.PROJECT_VERSION }}
          draft: false
          prerelease: ${{ env.IS_SNAPSHOT }}
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: |
            spring-boot-starter-elasticsearch-evolution/target/spring-boot-starter-elasticsearch-evolution-${{ env.PROJECT_VERSION }}.jar
            elasticsearch-evolution-core/target/elasticsearch-evolution-core-${{ env.PROJECT_VERSION }}.jar
            elasticsearch-evolution-rest-abstraction/target/elasticsearch-evolution-rest-abstraction-${{ env.PROJECT_VERSION }}.jar
            elasticsearch-evolution-rest-abstraction-es-client/target/elasticsearch-evolution-rest-abstraction-es-client-${{ env.PROJECT_VERSION }}.jar
            elasticsearch-evolution-rest-abstraction-os-genericclient/target/elasticsearch-evolution-rest-abstraction-os-genericclient-${{ env.PROJECT_VERSION }}.jar
            elasticsearch-evolution-rest-abstraction-os-restclient/target/elasticsearch-evolution-rest-abstraction-os-restclient-${{ env.PROJECT_VERSION }}.jar