name: 'Quality analysis'

on:
  push:
    branches:
      - master
      - release
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
  schedule:
    - cron: '42 16 * * 4'

env:
  MVN_CMD: "./mvnw --settings .cicd.settings.xml -e -B -V"

jobs:
  code-analysis:
    runs-on: ubuntu-24.04
    env:
      COVERALLS_REPO_TOKEN_EXISTS: ${{ secrets.COVERALLS_REPO_TOKEN != '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v4
        with:
          languages: 'java'
      - name: Build and test with Maven
        run: $MVN_CMD install
      - name: upload test results
        uses: actions/upload-artifact@v5  # upload test results
        if: success() || failure()        # run this step even if previous step failed
        with:
          name: test-results
          path: '**/target/*-reports/TEST-*.xml'
      - name: Execute Maven coveralls Plugin
        if: ${{ env.COVERALLS_REPO_TOKEN_EXISTS == 'true' }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
        run: $MVN_CMD coveralls:report -DrepoToken=$COVERALLS_REPO_TOKEN -DserviceName=GitHub-Actions
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v4

  spotbugs-analysis:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      - name: run SpotBugs
        run: $MVN_CMD install spotbugs:spotbugs -DskipTests=true
      - name: Publish SpotBugs Code Analysis report (this may fail when this job was triggered from an untrusted source because then the required environment variable is not available)
        uses: lcollins/spotbugs-github-action@v3.1.0
        with:
          path: '**/spotbugsXml.xml'