name: Quality analysis

on: ["push", "pull_request"]

env:
  MVN_CMD: "./mvnw --settings .cicd.settings.xml -e -B -V"

jobs:
  code-analysis:
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 8
        # build with JDK 8 because of issue https://github.com/trautonen/coveralls-maven-plugin/issues/112
        uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build and test with Maven
        run: $MVN_CMD install
      - name: Execute Maven coveralls Plugin
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_PATH: ${{ github.event_path }}
        run: $MVN_CMD coveralls:report -DrepoToken=$COVERALLS_REPO_TOKEN -DserviceName=GitHub-Actions
      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@master
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          coverage-reports: elasticsearch-evolution-core/target/site/jacoco/jacoco.xml,spring-boot-starter-elasticsearch-evolution/target/site/jacoco/jacoco.xml
